.container{
    color: black;
}
tfoot tr td{
    border: none;
}
body {
    font-family: Arial, sans-serif;
}
.table-container{
    position: relative;
}
.table-outer {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.title {
    text-align: center;
    font-weight: bold;
    display: table-cell;

}


.invoice-inf p{
    width: 100%;
    float: left;
    padding: 0;
}
.invoice-inf p input{
    width: 65%;
    padding-left: 5px;

}
.invoice-inf label{
    width: 25%;
    padding-left: 5px;
}


.five-cols th, .five-cols td {
    width: 20%;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
input{
    border: none;
    width: 100%;
    height: 100%;
}
label{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.insert-row{
    width: 100%;
    align-content: center;
}
.input-emp{
    width: 50%;
} 
.table-outer th:first-child {
    width: 50px;
}